html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: #0a192f;
}

h1 {
  margin: 0 !important;
  padding: 0 !important;
}

h2 {
  margin: 0 !important;
  padding: 0 !important;
}

h3 {
  margin: 0 !important;
  padding: 0 !important;
}

h4 {
  margin: 0 !important;
  padding: 0 !important;
}

h5 {
  margin: 0 !important;
  padding: 0 !important;
}

h6 {
  margin: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none !important;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  height: 5rem;
  padding: 0 5%;
  box-sizing: border-box;
  z-index: 999;
  background-color: rgba(10, 25, 47, 0.7);
}
header ol li a {
  display: flex;
  align-items: baseline;
  color: #60f6d3;
  padding: 0 1rem;
}
header ol li a span {
  margin-right: 0.5rem;
  color: #60f6d3;
}
header ol li a h6 {
  color: #ccd6f6;
}

#wrap {
  width: 100%;
  height: 100%;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-19 {
  font-size: 19px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-21 {
  font-size: 21px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-23 {
  font-size: 23px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.scroll-link {
  position: absolute;
  width: 1.5vw;
  bottom: 10rem;
  transform: translate(-50%);
}
.scroll-link .mouse {
  width: 100%;
  height: auto;
}
.scroll-link .mouse .scroll {
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
          animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform, opacity;
  opacity: 1;
}

@-webkit-keyframes scroll {
  0%, 20% {
    transform: translateY(0) scaleY(1);
  }
  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}

@keyframes scroll {
  0%, 20% {
    transform: translateY(0) scaleY(1);
  }
  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}
.full-wrap {
  width: 50%;
}
.full-wrap .article-box.pf-welcome {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-wrap .article-box.pf-aboutme {
  margin-bottom: 5rem !important;
}
.full-wrap .article-box.pf-aboutme .aboutme-wrap {
  display: flex;
  align-items: flex-start;
}
.full-wrap .article-box.pf-aboutme .aboutme-wrap .aboutme-text {
  width: 70%;
  margin-right: 2rem;
  color: #ccd6f6;
  font-size: 1.5rem;
}
.full-wrap .article-box.pf-aboutme .aboutme-wrap .aboutme-profile {
  width: 30%;
}
.full-wrap .article-box.pf-aboutme .aboutme-wrap .aboutme-profile img {
  width: 100%;
}
.full-wrap .article-box.pf-exprience {
  margin-bottom: 5rem !important;
  padding-bottom: 5rem;
}
.full-wrap .article-box.pf-exprience .exprience-list {
  margin-bottom: 2rem;
}
.full-wrap .article-box.pf-exprience .exprience-list .list-nav {
  color: #ccd6f6;
  font-size: 1.2rem;
}
.full-wrap .article-box.pf-exprience .exprience-list .list-nav ul {
  display: flex;
  align-items: center;
  justify-content: start;
}
.full-wrap .article-box.pf-exprience .exprience-list .list-nav ul li {
  padding: 1rem 2rem;
  font-size: 1rem;
}
.full-wrap .article-box.pf-exprience .exprience-list .list-nav ul li.active {
  background-color: rgba(205, 208, 213, 0.12);
  box-shadow: inset 0 -2px 0px 0px;
}
.full-wrap .article-box.pf-exprience .exprience-detail {
  color: #ccd6f6;
}
.full-wrap .article-box.pf-exprience .exprience-detail .company-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.full-wrap .article-box.pf-exprience .exprience-detail .company-date {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.full-wrap .article-box.pf-exprience .exprience-detail .company-detail {
  margin-bottom: 2rem;
}
.full-wrap .article-box .article-title {
  color: #c4cae0;
  margin-bottom: 3rem !important;
  font-weight: bold;
}
.full-wrap .article-box .article-title span {
  color: #60f6d3;
  font-size: 2rem;
  font-weight: normal;
}/*# sourceMappingURL=common.css.map */